# Import Data

In [10]:
import sys

sys.path.append("../src")

import importer

train_values, train_labels, test_values = importer.import_data(directory="../Data")

print(train_values.shape)
print(train_labels.shape)
print(test_values.shape)

(260601, 39)
(260601, 2)
(86868, 39)

# Clean Data

In [11]:
import cleaner

train_data, test_data = cleaner.clean(train_values, train_labels, test_values)

print(train_data.shape)
print(test_data.shape)

(260601, 28)
(86868, 28)

# Encode Data

In [12]:
import encoder

# Print all the features of test data

train_data, test_data = encoder.encode(train_data, test_data)

print(train_data.shape)
print(test_data.shape)

(260601, 29)
(86868, 29)

# Create a model

In [13]:
import model

model = model.random_forest(train_data)

# Evaluate the model

In [14]:
import evaluator

predictions = evaluator.print_model_summary(model, test_data)

0.9762168532704775

# Submit

In [15]:
import pandas as pd

# Create a data frame with the predictions
predictions = pd.DataFrame(predictions, columns=['damage_grade_0', 'damage_grade_1'])

# Add the building_id column
predictions['building_id'] = test_values['building_id']

# Rearrange the columns
predictions = predictions[['building_id', 'damage_grade_0', 'damage_grade_1']]

# Save the predictions in a csv file
predictions.to_csv('../Data/predictions.csv', index=False)

predictions.head()

   building_id damage_grade_0 damage_grade_1
0       300051            NaN            NaN
1        99355            NaN            NaN
2       890251            NaN            NaN
3       745817            NaN            NaN
4       421793            NaN            NaN